img {
    margin-top: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	  width: 50%;
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid white; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
	},

body {
    background-image: url('2.png')
  },

